/* style.css */

/* CSS styles for the page */

/* Body styles */
body {
    font-family: 'Lobster', cursive;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Menu styles */
.menu {
    background-color: #f1f1f1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo styles */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

/* Menu items styles */
.menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Menu item styles */
.menu-items li {
    display: inline-block;
    margin-right: 10px;
}

/* Menu item link styles */
.menu-items li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Menu item link styles on hover */
.menu-items li a:hover {
    color: #555;
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Heading styles */
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

/* Form group styles */
.form-group {
    margin-bottom: 20px;
}

/* Label styles */
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

/* Text input and textarea styles */
.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Roboto', sans-serif;
}

/* Select dropdown styles */
.form-group select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Style only the first option (Select cuisine) */
.form-group select option[value=""] {
    color: #555;
}

/* Checkbox container styles */
.checkbox-container {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

/* Checkbox container label styles */
.form-group input[type="checkbox"] + label {
    font-weight: lighter;
}

/* Checkbox input styles */
.form-group input[type="checkbox"] {
    cursor: pointer;
}

/* Submit button styles */
.form-group .submit-button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
    display: inline-block;
}

/* Submit button styles on hover */
.form-group .submit-button:hover {
    background-color: #45a049;
}

/* Plus and minus button styles */
.form-group button {
    padding: 6px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Plus button styles */
.form-group button.add-button {
    color: #4CAF50;
    font-weight: bold;
    font-size: 18px;
    opacity: 100%;
    align-items: center;
}

/* Minus button styles */
.form-group button.remove-button {
    color: #F44336;
    font-weight: bold;
    font-size: 18px;
    opacity: 100%;
    align-items: center;
}

/* Plus and minus button styles on hover */
.form-group button:hover {
    opacity: 0.8;
}

/* Button text styles within the plus and minus buttons */
.form-group button span.button-text {
    display: none;
}

/* Ingredient row styles */
.ingredient-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Text input styles within the ingredient rows */
.ingredient-row input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
}

/* Error message styles */
.error {
    color: red;
    font-size: 12px;
}

/* Success message styles */
.success-message {
    color: green;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .container {
        margin: 0 10px;
        padding: 10px;
    }
}
